SUPABASE_URL=
SUPABASE_SERVICE_KEY=
OPENAI_KEY=
BATCH_SIZE=50
# Variables d'environnement pour Supabase
# Remplacez les valeurs par celles de votre projet Supabase

EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=dbfurbs2p
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ml_default

# Clé API pour Groc / Gemini utilisée par la recherche intelligente
EXPO_PUBLIC_GROC_API_KEY=votre_cle_api_groc

EXPO_PUBLIC_WEB_BASE_URL=https://example.com