# Variables d'environnement pour Supabase
# Remplacez les valeurs par celles de votre projet Supabase
EXPO_PUBLIC_SUPABASE_URL=https://gdjqzhbfibrsdiwvfhvp.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkanF6aGJmaWJyc2Rpd3ZmaHZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzOTE4ODQsImV4cCI6MjA4Nzk2Nzg4NH0.GNIhTXq_ysIU36SZEakuHEeJPcO1nxTxm3Im1RIlyPE

EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=dbfurbs2p
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=ml_default

EXPO_PUBLIC_WEB_BASE_URL=https://example.com